
body {
    background-color:ivory; /* Hier gewünschte Hintergrundfarbe einstellen */
  }

/* habs mit den bootstrap margins nicht geschafft, den container weit genug vom top zu platzieren, um ihn unter der navbar durchgleiten zu lassen */
.ds2 {
    margin-top: 7em;
}
/* folgendes um zu verhindern, dass beim drucken die hintergrundfarbe mitgedruckt wird */
@media print {
  body * {
    background-color: transparent;
  }
}
/* section {
  border-color: black;
} */